*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100vw;

  word-wrap: normal;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

button {
  background: transparent;

  padding: 1rem 2rem;
  border: 1px solid currentColor;
  border-radius: 10rem;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02;

  cursor: pointer;
  transition: 0.35s;
}

.reversed__btn {
  color: var(--reversed-font);
}

button:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--reversed-font);
}

input {
  padding: 1rem 2rem;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--element-color);

  outline: none;

  font-size: 1.6rem;

  transition: border-bottom 0.5s ease;
}

.error__inp {
  border-bottom: 1px solid var(--accent-color);
}

.error__box {
  width: 100%;
  height: 0px;

  margin-top: 0rem;

  display: grid;
  place-items: center;

  overflow: hidden;
  transition:
    height 0.5s ease,
    margin-top 0.5s ease;
}

@media screen and (width > 1024px) {
  button {
    padding: 1.5rem 3.5rem;
    border: 2px solid currentColor;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
  }
}
