@import './styles/boilerplate.css';
@import './styles/typography.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: rgba(255, 255, 255, 1);
  --font-color: rgba(46, 46, 46, 1);
  --element-color: rgba(46, 46, 46, 1);
  --card-color: rgba(224, 224, 224, 1);
  --accent-color: rgba(237, 29, 37, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: 100vh;

  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 10rem;
}